@import "tailwindcss";

@theme {
  --color-primary: #800000;
  --color-primary-dark: #5c0000;
  --color-accent: #d4af37;
  --color-accent-light: #f3e5ab;
  --color-dark: #121212;
  --color-light: #f9f9f9;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

/* Efeito glassmorphism */
.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
